@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

body {
    background-color: #707fa4;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrollbar */
    font-family: 'Montserrat', sans-serif; /* Set Montserrat as the default font */
 }

 .vertical-line {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 2px; /* Adjust thickness of the line */
    background-color: #000; /* Adjust color of the line */
    transform: translateX(-50%); /* Move the line back by half its width */
}


.left-section,
.right-section {
    position: absolute;
    width: calc(50% - 1px); /* Half the width of the viewport minus the line width */
    padding: 20px; /* Adjust padding as needed */
    box-sizing: border-box; /* Include padding in the width calculation */
}

.left-section {
    left: 0;
}

.right-section {
    right: 0;
}

h2 {
    margin-top: 0;
    font-weight: 400;
}

p {
    margin-top: 10px;
    font-weight: 400;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.modeling-photo {
    background-size: cover;
    width: 20%; /* Adjust width as needed */
    height: 350px; /* Adjust height as needed */
    border-radius: 10px; /* Optional: add border radius for rounded corners */
    cursor: pointer; /* Change cursor to pointer on hover */
    margin: 10px 10px 10px 10px;
}

/* Apply different margins to specific photo numbers */
.modeling-photo:nth-child(1) {
    margin-top: 150px; /* Adjust margin for photo number 1 */
}

.modeling-photo:nth-child(2) {
    margin-top: 150px; /* Adjust margin for photo number 2 */
}

.modeling-photo:nth-child(3) {
    margin-top: 150px; /* Adjust margin for photo number 3 */
}

.modeling-photo:nth-child(4) {
    margin-top: 150px; /* Adjust margin for photo number 4 */
}

.modeling-photo:hover {
    opacity: 0.8; /* Reduce opacity on hover */
}

.photo-link {
    display: block; /* Ensure the link covers the entire photo */
}

.modal-container {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: auto;
}

.modal {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    position: relative;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content {
    width: 100%;
    height: auto;
}

 .modeling-photo1 {
    background-image: url('1.jpg');
    background-size: cover;
    width: 250px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    border-radius: 5px; /* Optional: add border radius for rounded corners */
    margin-right: 20px; /* Optional: add margin to space photos */
    position: relative; /* Enable positioning */
    top: 170px; /* Move photo 50px down from its original position */
    left: 140px; /* Move photo 20px to the right from its original position */
}


.modeling-photo2 {
    background-image: url('2.jpg');
    background-size: cover;
    width: 250px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    border-radius: 5px; /* Optional: add border radius for rounded corners */
    margin-right: 20px; /* Optional: add margin to space photos */
    position: relative; /* Enable positioning */
    top: -130px; /* Move photo 50px down from its original position */
    left: 400px; /* Move photo 20px to the right from its original position */
}

.modeling-photo3 {
    background-image: url('3.jpg');
    background-size: cover;
    width: 250px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    border-radius: 5px; /* Optional: add border radius for rounded corners */
    margin-right: 20px; /* Optional: add margin to space photos */
    position: relative; /* Enable positioning */
    top: -120px; /* Move photo 50px down from its original position */
    left: 140px; /* Move photo 20px to the right from its original position */
}

.modeling-photo4 {
    background-image: url('4.png');
    background-size: cover;
    width: 250px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    border-radius: 5px; /* Optional: add border radius for rounded corners */
    margin-right: 20px; /* Optional: add margin to space photos */
    position: relative; /* Enable positioning */
    top: -420px; /* Move photo 50px down from its original position */
    left: 400px; /* Move photo 20px to the right from its original position */
}

.modeling-photo5 {
    background-image: url('5.jpeg');
    background-size: cover;
    width: 250px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    border-radius: 5px; /* Optional: add border radius for rounded corners */
    margin-right: 20px; /* Optional: add margin to space photos */
    position: relative; /* Enable positioning */
    top: -410px; /* Move photo 50px down from its original position */
    left: 140px; /* Move photo 20px to the right from its original position */
}

.modeling-photo6 {
    background-image: url('6.jpg');
    background-size: cover;
    width: 250px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    border-radius: 5px; /* Optional: add border radius for rounded corners */
    margin-right: 20px; /* Optional: add margin to space photos */
    position: relative; /* Enable positioning */
    top: -710px; /* Move photo 50px down from its original position */
    left: 400px; /* Move photo 20px to the right from its original position */
}

.modeling-photo7 {
    background-image: url('7.jpg');
    background-size: cover;
    width: 250px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    border-radius: 5px; /* Optional: add border radius for rounded corners */
    margin-right: 20px; /* Optional: add margin to space photos */
    position: relative; /* Enable positioning */
    top: -700px; /* Move photo 50px down from its original position */
    left: 140px; /* Move photo 20px to the right from its original position */
}

.modeling-photo8 {
    background-image: url('8.png');
    background-size: cover;
    width: 250px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    border-radius: 5px; /* Optional: add border radius for rounded corners */
    margin-right: 20px; /* Optional: add margin to space photos */
    position: relative; /* Enable positioning */
    top: -1000px; /* Move photo 50px down from its original position */
    left: 400px; /* Move photo 20px to the right from its original position */
}

.modeling-photo9 {
    background-image: url('9.jpg');
    background-size: cover;
    width: 250px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    border-radius: 5px; /* Optional: add border radius for rounded corners */
    margin-right: 20px; /* Optional: add margin to space photos */
    position: relative; /* Enable positioning */
    top: -990px; /* Move photo 50px down from its original position */
    left: 140px; /* Move photo 20px to the right from its original position */
}

.modeling-photo10 {
    background-image: url('10.jpg');
    background-size: cover;
    width: 250px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    border-radius: 5px; /* Optional: add border radius for rounded corners */
    margin-right: 20px; /* Optional: add margin to space photos */
    position: relative; /* Enable positioning */
    top: -1290px; /* Move photo 50px down from its original position */
    left: 400px; /* Move photo 20px to the right from its original position */
}

.modeling-photo11 {
    background-image: url('11.jpg');
    background-size: cover;
    width: 250px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    border-radius: 5px; /* Optional: add border radius for rounded corners */
    margin-right: 20px; /* Optional: add margin to space photos */
    position: relative; /* Enable positioning */
    top: -1280px; /* Move photo 50px down from its original position */
    left: 140px; /* Move photo 20px to the right from its original position */
}

.modeling-photo12 {
    background-image: url('12.png');
    background-size: cover;
    width: 250px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    border-radius: 5px; /* Optional: add border radius for rounded corners */
    margin-right: 20px; /* Optional: add margin to space photos */
    position: relative; /* Enable positioning */
    top: -1580px; /* Move photo 50px down from its original position */
    left: 400px; /* Move photo 20px to the right from its original position */
}

.modeling-photo13 {
    background-image: url('13.jpeg');
    background-size: cover;
    width: 250px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    border-radius: 5px; /* Optional: add border radius for rounded corners */
    margin-right: 20px; /* Optional: add margin to space photos */
    position: relative; /* Enable positioning */
    top: -1570px; /* Move photo 50px down from its original position */
    left: 140px; /* Move photo 20px to the right from its original position */
}

.modeling-photo14 {
    background-image: url('14.jpeg');
    background-size: cover;
    width: 250px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    border-radius: 5px; /* Optional: add border radius for rounded corners */
    margin-right: 20px; /* Optional: add margin to space photos */
    position: relative; /* Enable positioning */
    top: -1870px; /* Move photo 50px down from its original position */
    left: 400px; /* Move photo 20px to the right from its original position */
}

.modeling-photo15 {
    background-image: url('15.jpg');
    background-size: cover;
    width: 250px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    border-radius: 5px; /* Optional: add border radius for rounded corners */
    margin-right: 20px; /* Optional: add margin to space photos */
    position: relative; /* Enable positioning */
    top: -1860px; /* Move photo 50px down from its original position */
    left: 140px; /* Move photo 20px to the right from its original position */
}

.modeling-photo16 {
    background-image: url('16.png');
    background-size: cover;
    width: 250px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    border-radius: 5px; /* Optional: add border radius for rounded corners */
    margin-right: 20px; /* Optional: add margin to space photos */
    position: relative; /* Enable positioning */
    top: -2160px; /* Move photo 50px down from its original position */
    left: 400px; /* Move photo 20px to the right from its original position */
}

.modeling-photo17 {
    background-image: url('17.jpg');
    background-size: cover;
    width: 250px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    border-radius: 5px; /* Optional: add border radius for rounded corners */
    margin-right: 20px; /* Optional: add margin to space photos */
    position: relative; /* Enable positioning */
    top: -2150px; /* Move photo 50px down from its original position */
    left: 140px; /* Move photo 20px to the right from its original position */
}

.modeling-photo18 {
    background-image: url('18.jpeg');
    background-size: cover;
    width: 250px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    border-radius: 5px; /* Optional: add border radius for rounded corners */
    margin-right: 20px; /* Optional: add margin to space photos */
    position: relative; /* Enable positioning */
    top: -2450px; /* Move photo 50px down from its original position */
    left: 400px; /* Move photo 20px to the right from its original position */
}

.modeling-photo19 {
    background-image: url('19.jpg');
    background-size: cover;
    width: 250px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    border-radius: 5px; /* Optional: add border radius for rounded corners */
    margin-right: 20px; /* Optional: add margin to space photos */
    position: relative; /* Enable positioning */
    top: -2440px; /* Move photo 50px down from its original position */
    left: 140px; /* Move photo 20px to the right from its original position */
}

/* Start of Photography photos */
.modeling-photo20 {
    background-image: url('20.png');
    background-size: cover;
    width: 250px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    border-radius: 5px; /* Optional: add border radius for rounded corners */
    margin-right: 20px; /* Optional: add margin to space photos */
    position: relative; /* Enable positioning */
    top: -5530px; /* Move photo 50px down from its original position */
    left: 790px; /* Move photo 20px to the right from its original position */
}

.modeling-photo21 {
    background-image: url('21.jpeg');
    background-size: cover;
    width: 250px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    border-radius: 5px; /* Optional: add border radius for rounded corners */
    margin-right: 20px; /* Optional: add margin to space photos */
    position: relative; /* Enable positioning */
    top: -5830px; /* Move photo 50px down from its original position */
    left: 1050px; /* Move photo 20px to the right from its original position */
}

.modeling-photo22 {
    background-image: url('22.jpeg');
    background-size: cover;
    width: 250px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    border-radius: 5px; /* Optional: add border radius for rounded corners */
    margin-right: 20px; /* Optional: add margin to space photos */
    position: relative; /* Enable positioning */
    top: -5820px; /* Move photo 50px down from its original position */
    left: 790px; /* Move photo 20px to the right from its original position */
}

.modeling-photo23 {
    background-image: url('23.JPG');
    background-size: cover;
    width: 250px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    border-radius: 5px; /* Optional: add border radius for rounded corners */
    margin-right: 20px; /* Optional: add margin to space photos */
    position: relative; /* Enable positioning */
    top: -6120px; /* Move photo 50px down from its original position */
    left: 1050px; /* Move photo 20px to the right from its original position */
}

.modeling-photo24 {
    background-image: url('24.png');
    background-size: cover;
    width: 250px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    border-radius: 5px; /* Optional: add border radius for rounded corners */
    margin-right: 20px; /* Optional: add margin to space photos */
    position: relative; /* Enable positioning */
    top: -6110px; /* Move photo 50px down from its original position */
    left: 790px; /* Move photo 20px to the right from its original position */
}

.modeling-photo25 {
    background-image: url('25.jpg');
    background-size: cover;
    width: 250px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    border-radius: 5px; /* Optional: add border radius for rounded corners */
    margin-right: 20px; /* Optional: add margin to space photos */
    position: relative; /* Enable positioning */
    top: -6410px; /* Move photo 50px down from its original position */
    left: 1050px; /* Move photo 20px to the right from its original position */
}

.modeling-photo26 {
    background-image: url('26.jpg');
    background-size: cover;
    width: 250px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    border-radius: 5px; /* Optional: add border radius for rounded corners */
    margin-right: 20px; /* Optional: add margin to space photos */
    position: relative; /* Enable positioning */
    top: -6400px; /* Move photo 50px down from its original position */
    left: 790px; /* Move photo 20px to the right from its original position */
}

.modeling-photo27 {
    background-image: url('27.jpg');
    background-size: cover;
    width: 250px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    border-radius: 5px; /* Optional: add border radius for rounded corners */
    margin-right: 20px; /* Optional: add margin to space photos */
    position: relative; /* Enable positioning */
    top: -6700px; /* Move photo 50px down from its original position */
    left: 1050px; /* Move photo 20px to the right from its original position */
}

.modeling-photo28 {
    background-image: url('28.png');
    background-size: cover;
    width: 250px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    border-radius: 5px; /* Optional: add border radius for rounded corners */
    margin-right: 20px; /* Optional: add margin to space photos */
    position: relative; /* Enable positioning */
    top: -6690px; /* Move photo 50px down from its original position */
    left: 790px; /* Move photo 20px to the right from its original position */
}

.modeling-photo29 {
    background-image: url('29.jpg');
    background-size: cover;
    width: 250px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    border-radius: 5px; /* Optional: add border radius for rounded corners */
    margin-right: 20px; /* Optional: add margin to space photos */
    position: relative; /* Enable positioning */
    top: -6990px; /* Move photo 50px down from its original position */
    left: 1050px; /* Move photo 20px to the right from its original position */
}

.modeling-photo30 {
    background-image: url('30.jpeg');
    background-size: cover;
    width: 250px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    border-radius: 5px; /* Optional: add border radius for rounded corners */
    margin-right: 20px; /* Optional: add margin to space photos */
    position: relative; /* Enable positioning */
    top: -6980px; /* Move photo 50px down from its original position */
    left: 790px; /* Move photo 20px to the right from its original position */
}

.modeling-photo31 {
    background-image: url('31.JPG');
    background-size: cover;
    width: 250px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    border-radius: 5px; /* Optional: add border radius for rounded corners */
    margin-right: 20px; /* Optional: add margin to space photos */
    position: relative; /* Enable positioning */
    top: -7280px; /* Move photo 50px down from its original position */
    left: 1050px; /* Move photo 20px to the right from its original position */
}

.modeling-photo32 {
    background-image: url('32.png');
    background-size: cover;
    width: 250px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    border-radius: 5px; /* Optional: add border radius for rounded corners */
    margin-right: 20px; /* Optional: add margin to space photos */
    position: relative; /* Enable positioning */
    top: -7270px; /* Move photo 50px down from its original position */
    left: 790px; /* Move photo 20px to the right from its original position */
}

.modeling-photo33 {
    background-image: url('33.jpg');
    background-size: cover;
    width: 250px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    border-radius: 5px; /* Optional: add border radius for rounded corners */
    margin-right: 20px; /* Optional: add margin to space photos */
    position: relative; /* Enable positioning */
    top: -7570px; /* Move photo 50px down from its original position */
    left: 1050px; /* Move photo 20px to the right from its original position */
}

.modeling-photo34 {
    background-image: url('34.JPG');
    background-size: cover;
    width: 250px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    border-radius: 5px; /* Optional: add border radius for rounded corners */
    margin-right: 20px; /* Optional: add margin to space photos */
    position: relative; /* Enable positioning */
    top: -7560px; /* Move photo 50px down from its original position */
    left: 790px; /* Move photo 20px to the right from its original position */
}

.modeling-photo35 {
    background-image: url('35.jpg');
    background-size: cover;
    width: 250px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    border-radius: 5px; /* Optional: add border radius for rounded corners */
    margin-right: 20px; /* Optional: add margin to space photos */
    position: relative; /* Enable positioning */
    top: -7860px; /* Move photo 50px down from its original position */
    left: 1050px; /* Move photo 20px to the right from its original position */
}

.modeling-photo36 {
    background-image: url('36.jpg');
    background-size: cover;
    width: 250px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    border-radius: 5px; /* Optional: add border radius for rounded corners */
    margin-right: 20px; /* Optional: add margin to space photos */
    position: relative; /* Enable positioning */
    top: -7850px; /* Move photo 50px down from its original position */
    left: 790px; /* Move photo 20px to the right from its original position */
}

.modeling-photo37 {
    background-image: url('37.jpg');
    background-size: cover;
    width: 250px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    border-radius: 5px; /* Optional: add border radius for rounded corners */
    margin-right: 20px; /* Optional: add margin to space photos */
    position: relative; /* Enable positioning */
    top: -8150px; /* Move photo 50px down from its original position */
    left: 1050px; /* Move photo 20px to the right from its original position */
}

.modeling-photo38 {
    background-image: url('38.jpg');
    background-size: cover;
    width: 250px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    border-radius: 5px; /* Optional: add border radius for rounded corners */
    margin-right: 20px; /* Optional: add margin to space photos */
    position: relative; /* Enable positioning */
    top: -8140px; /* Move photo 50px down from its original position */
    left: 790px; /* Move photo 20px to the right from its original position */
}

.modeling-photo39 {
    background-image: url('39.JPG');
    background-size: cover;
    width: 250px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    border-radius: 5px; /* Optional: add border radius for rounded corners */
    margin-right: 20px; /* Optional: add margin to space photos */
    position: relative; /* Enable positioning */
    top: -8440px; /* Move photo 50px down from its original position */
    left: 1050px; /* Move photo 20px to the right from its original position */
}

.modeling-photo40 {
    background-image: url('40.JPG');
    background-size: cover;
    width: 250px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    border-radius: 5px; /* Optional: add border radius for rounded corners */
    margin-right: 20px; /* Optional: add margin to space photos */
    position: relative; /* Enable positioning */
    top: -8430px; /* Move photo 50px down from its original position */
    left: 790px; /* Move photo 20px to the right from its original position */
}

